
<div class= "container">
	<div class="col-md-6">
		<%= render "form" %>
	</div>

	<div class="col-md-6">
		<h1>Example Profile</h1>

		<p>Name: Robert Lee</p>
		<p>Photo URL: https://www.petfinder.com/wp-content/uploads/2012/11/99233806-bringing-home-new-cat-632x475.jpg</p>
		<p>Home Base: Providence RI</p>
		<p>Description:</br>
			I enjoy playing 4 chord songs on guitar, long walks on the beach and making babies smile.</p>
		<p>Education:</br>
			Chinese International School '12, Brown University '17 (Urban Studies)</p>
		<p>Interests:</br>
			I love arts and crafts, 

	</div>
</div>