    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1 class="intro_heading_text">Workshop</h1>
                        <h3 class="intro_heading_subtext">Let's learn from each other</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

    <a  name="services"></a>   
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">The Problem</h2>
                    <p class="lead">From Hong Kong, to New York City, to the Cape Townian Township Khayelitsha, schools face the same growing obstacle: over-regulation is diminishing educational diversity and taking agency away from teachers, making inspiring students a difficult task. In addition, the quality of teaching is judged heavily by testing which does not accurately reflect learning, stifles creativity and creates one-size-fits-all curriculums. 
                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive about_images" src="http://www.educationnews.org/wp-content/uploads/2012/02/teen_test_stress_exam.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our solution</h2>
                    <p class="lead">Everyone has something they are passionate about and want to share. We believe that passion and enthusiasm are the most important ingredients in a teacher. We want to create a platform to leverage the infectious nature of passion by connecting enthusiastic individuals to encourage peer teaching and learning. Workshop is a site which will allow anyone to host a workshop about anything and open to all, supplementing existing curriculums by letting regular people cover less mainstream topics and skills, and encourage a habit of lifelong learning. </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive about_images" src="http://www.blacksheepknitting.com/wp-content/uploads/2011/07/Class32.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Vision</h2>
                    <p class="lead">We want to create a network and space for the motivated and the curious. We want to take self-help and learning out of e-learning sites and back in the hands of regular people, and inspire a lifelong desire to teach and learn. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive about_images" src="http://beta.custompractice.co.uk/wp-content/uploads/2010/10/Custom-Practice-Classical-Acting-Workshop-004.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <!-- /.banner -->
