    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer welcome_head">
            <div class="welcome_head_filter"></div>
            <div class="welcome_head_description">
                <h1>Workshop</h1>
                <h2>Everyone has something they are passionate about and want to share. Workshop is a site which will allow anyone to host a workshop about anything and open to all.</h2>
                <p>
                    <a class="btn btn-primary btn-large", href="/lessons">Join a Workshop!</a>
                    <a class="btn btn-primary btn-large", href="/lessons/new">Host a Workshop!</a>
                </p>
            </div>
        </header>
        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Featured workshops</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <% @featured_lessons.each do |lesson| %>
                <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <img src="http://placehold.it/800x500" alt="">
                        <div class="caption">
                            <p><%=lesson.name%></p>
                            <p>
                                <a href="/lessons/<%=lesson.id%>" class="btn btn-primary">Additional details</a>
                            </p>
                        </div>
                    </div>
                </div>
            <% end %>

        </div>
        <!-- /.row -->


    </div>
