
.Stripe
{
	position: relative;
	width: 30%;
	height: 30%;
}

.show_page
{
	position: relative;

}

.index_page
{
	position: relative;
}

.comments
{
	padding-top: 20px;
}

#map
{
	position: relative;
	padding-top: 100px;
	width: 847px;
	height: 400px;
}

.search_bar_index
{
	position: relative;
	padding-bottom: 10px;

}

.search_bar_show
{
	position: relative;
	padding-bottom: 10px;
}

.form
{
	margin-left: 400px;
}
.new
{
	margin-left: 380px;
	font-size: 30px;
}

